@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}



/* this style makes the good border and make the content to get into center */
body{
    width: 95vw;
    margin: 10px auto;
    /* background-color: rgb(128, 255, 213); */
    border: 10px solid #000000;
    border-radius: 2%;
    background-color: #F2E5BF;
}




/* thhis is styles for header part */

header img{
    border-radius: 50%;
    width: 300px;
}
header{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    color: #257180;
}
.name{
    font-size: 3.5rem;
    font-weight: 700;
    
}
.name > span{
    letter-spacing: 1rem;
    margin-right: 1rem;
}
.years-of-birth-and-death{
    font-size: 2.2rem;
    text-align: end;
    
}
.name-div{
    align-self: flex-end;
}






/* this is the styles for main part */
main{
    width: 90%;
    margin: 40px auto;
  
}
.tag-name{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 10px;
    color: #FD8B51;
}


.info-about-apj{
    font-size: 20px;
    margin-bottom: 50px;
    word-spacing: 7px;
    color: #c34823;
}


.books-section>h3{
    font-size: 2.5rem;
    font-weight: 400;
    color: #f98f59;
}
.list-of-books{
    /* list-style-type: none; */
    /* margin-top: 20px; */
    font-size: 20px;
    color: #c34823;
}

.apj-books-list-item{
    padding-top: 10px;
    word-spacing: 3px;
}

.apj-sir-img:hover{

}

.last-words-of-apj{
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
}
.last-words-of-apj>h3{
    align-self: flex-start;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #f98f59;

}
iframe{
    border-radius: 20px;
}



/* applying media queries for responsiveness */

@media screen and (max-width:950px) {
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .name-div{
        
        align-self: center;
    }
    .years-of-birth-and-death{
        font-size: 1rem;
        text-align: center;
    }
    .name{
       font-size: 2rem;
    }

    .tag-name{
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        text-decoration: underline;
    }
    .info-about-apj{
        font-size: 16px;
    }
    .books-section>h3{
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        text-decoration: underline;
    }
    .list-of-books{
        font-size: 16px;
    }

    .last-words-of-apj>h3{
        align-self: center;
        font-size: 1.8rem;
    }
    iframe{
        width: 60vw;
    }







}


